:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --error-color: red;
    --datatable-color: #E1E1E1;
    --datatable-dark-cell-color: #f8f8f8;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.middle .message {
    background-color: #80D8FF;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    display: none;
}

.middle {
    margin-top: 1rem;
    overflow: auto;
}

aside {
    float: right;
    width: 20rem;
}

main {
    margin-right: 21rem;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-bottom: 1rem;
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}

article {
    overflow: hidden;
    margin-bottom: 2rem;
}

article .title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2e3a7b;
}

article .information {
    margin-top: 4px;
    font-size: 0.8rem;
    color: #888;
}

article .body {
    border-left: 4px solid #BBB;
    margin-top: 0.5rem;
}

article .body p {
    margin-left: 1rem;
    font-family: "Arial", sans-serif;
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: lighter;
}

article .attachment {
    padding-left: 26px;
    margin-bottom: 8px;
    color: #777;
    font-size: 0.8rem;
    list-style-image: url(../../src/assets/img/paperclip-16x16.png);
}

article .footer {
    margin-top: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    height: 2.2rem;
}

article .footer div {
    margin: 6px 0 6px 6px;
    display: inline;
}

article .footer .left .positive-score {
    font-weight: bold;
    font-family: Verdana, sans-serif;
    vertical-align: top;
    padding-top: 1px;
    color: #029a0f;
}

article .footer .left {
    float: left;
}

article .footer .right {
    margin-right: 10px;
    float: right;
    font-size: 0.9rem;
}
