[submodule "operation-systems/terminal"]
	path = operation-systems/terminal
	url = https://github.com/nothingelsematters/terminal.git
[submodule "operation-systems/find"]
	path = operation-systems/find
	url = https://github.com/nothingelsematters/find.git
[submodule "c++/substring-finder"]
	path = c++/substring-finder
	url = https://github.com/nothingelsematters/substring-finder.git
[submodule "c++/function"]
	path = c++/function
	url = https://github.com/nothingelsematters/function.git
[submodule "c++/similar-files"]
	path = c++/similar-files
	url = https://github.com/nothingelsematters/similar-files.git
[submodule "operation-systems/pseudo-jit"]
	path = operation-systems/pseudo-jit
	url = https://github.com/nothingelsematters/pseudo-jit.git
[submodule "operation-systems/libs-acquaintance"]
	path = operation-systems/libs-acquaintance
	url = https://github.com/nothingelsematters/libs-acquaintance
[submodule "operation-systems/synchronous-socket-service"]
	path = operation-systems/synchronous-socket-service
	url = https://github.com/nothingelsematters/synchronous-socket-service.git
[submodule "operation-systems/net-descriptor-passing"]
	path = operation-systems/net-descriptor-passing
	url = https://github.com/nothingelsematters/net-descriptor-passing.git
[submodule "operation-systems/sigsegv-handler"]
	path = operation-systems/sigsegv-handler
	url = https://github.com/nothingelsematters/sigsegv-handler.git
[submodule "translation-methods/lalr-generator"]
	path = translation-methods/lalr-generator
	url = https://github.com/nothingelsematters/lalr-generator.git
[submodule "software-testing"]
	path = software-testing
	url = https://github.com/nothingelsematters/software-testing.git
